.tickets{
  display: flex;
  padding: 14vh 4vw 8vh 4vw;
  /*! height: 100vh; */
  box-sizing: border-box;
  gap: 4vw;
  justify-content: space-evenly;
}
.theme-right {
  padding-top: 0vh;
  z-index: 30;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.theme-right img{
  height: 35vw;
}
.theme-right h1{
  width: unset;
}
.price{
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 1vh 0;
  text-shadow: 0px 0px 19.025px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 885px) {
  .tickets{
    height: unset;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
  }
  .theme-right img{
    height: unset;
    width: 80vw;
  }
  .dhyuthi-spcl-title{
    font-size: 13vw; 
   }
  .cursive-heading{
    font-size: 11vw; 
  }
  .price{
    font-size: 4.5vw;
  }
  .theme-right .earth{
    height: unset;
    width: 50vw;
  }
}
.merch{
    padding: 6vh 4vw;
    display: flex;
    gap: 20vw;
}
.tees{
    width: 45vw;
}
.earth{
    position: absolute;
    right: 0;
    width: 40vw;
    z-index: -1;
}
.merch .violet-shade{
  background: #8F1BD6;
  filter: blur(228px);
  height: 80vh;
  width: 60vw;
  border-radius: 50%;
  position: absolute;
  right: unset;
  left: -350px;
  bottom: unset;
  opacity: 0.4;
}
@media screen and (max-width: 810px) {
    .merch{
        flex-direction: column;
        gap: 30px;
    }
}